
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutCMS.cshtml";
}

<h2>CMS</h2>
<span>ovaj dio služi za učitavanje view-eva</span>
<span>budući da bude se većina view-eva učitavala u CMS, možda je jednostavnije zamijeniti _Layout i _LayoutCMS, 
    pa onda umjesto da se za svaki controller/view definira da koristi novi layout (_LayoutCMS), za nove controllere (dostupne javnosti) definiramo da koriste novi layout (pod starim imenom)
    <br />vrlo zbunjujuće :D </span>

