body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
.hidden {
    display: none;
}
.modal-large {
    width: 96%;
}

/*----- Accordion -----*/
.acc-items, .acc-items * {
    -webkit-box-sizing:border-box; 
    -moz-box-sizing:border-box; 
    box-sizing:border-box;
}
 
.acc-items {
    overflow:hidden;
    border-radius:3px;
    background:#f7f7f7;
}
 
/*----- Section Titles -----*/
.acc-items-section-title {
    width:100%;
    padding:15px;
    display:inline-block;
    border-bottom:1px solid #fff;
    background:inherit;
    transition:all linear 0.15s;
    /* Type */
    font-size:1.200em;
    color:#000;
}
 
.acc-items-section-title.active, .acc-items-section-title:hover {
    background:#ECECEC;
    /* Type */
    text-decoration:none;
}
 
.acc-items-section:last-child .acc-items-section-title {
    border-bottom:none;
}
 
/*----- Section Content -----*/
.acc-items-section-content {
    padding:15px;
    display:none;
}

.full-width {
    width: 100%;
    display: inline-block;
}

/*----- Moderator sidebar -----*/
.moderator-sidebar-wrapper {
    margin-top: 74px;
    min-height: 300px;
}
.moderator-sidebar {
    background: #ebebeb;
    padding: 8px;
}
.moderator-sidebar .header {}
.moderator-sidebar .footer {}
.moderator-sidebar .body {}

/*----- Items - cart -----*/
#modalItemToCart label {
    float: left;
}
#modalItemToCart #supply-item-quantity {
    float: left;
}
#modalItemToCart .supply-item-quantity-info {
    float: left;
    height: 34px;
    padding: 7px 0px 0px 6px;
}