@using Resources
@{
    ViewBag.Title = Local.ChangePassword;    
}

<h2>@Local.ChangePassword</h2>


<div>
    <form action="ChangePassword" method="post">
       
        <label>@Local.password</label>
        <input name="password" type="password" required />
        <br />
        <label>@Local.ConfirmPassword</label>
        <input name="confirmedPassword" type="password" required />
        <br />

        <h5>@ViewBag.Msg</h5>
        <input id="submit" type="submit" value=@Local.Change />
    </form>
</div>

