
@{
    ViewBag.Title = "PassworGenerated";
}

<h2>Uspješno promijenjena lozinka</h2>
<span>Vaša lozinka je promijenjena, a e-mail sa detaljima poslan je na Vašu adresu. Prilikom iduće @Html.ActionLink("prijave", "Login", "Account") molimo prijavite se sa novom lozinkom.</span>
