@using Resources
@{
    ViewBag.Title = Local.PassworGenerated;
}

<h2>@Local.PasswordGeneratedSuccesfull</h2>
<span>@Local.YourPasswordIsChanged. @Local.FurtherWork  @Html.ActionLink(Local.log_in, "Login", "Account").</span>
