
@{
    ViewBag.Title = "Register";
}

<h2>Register</h2>


<div>
    <form action="Register" method="post">
        <label>Username</label>
        <input name="username" type="text"/>
        <br />

        <label>Password</label>
        <input name="password" type="password" />
        <br />
        
        <label>Name</label>
        <input name="name" type="text" />
        <br />

        <label>Phone</label>
        <input name="phone" type="text" />
        <br />

        <label>E-mail</label>
        <input name="email" type="text" />
        <br />

        <label>OIB</label>
        <input name="oib" type="text" />
        <br />
        <h5>@ViewBag.Msg</h5>
        <input id="submit" type="submit" value="Registriraj se" />
    </form>
</div>



