
@{
    ViewBag.Title = "Registered";
}

<h2>Uspješna registracija</h2>
<div>
    <span>Zahvaljujemo na Vašoj registraciji. Za nastavak rada molimo da se @Html.ActionLink("prijavite", "Login", "Account").</span>
</div>