@model IEnumerable<MIVProject.project>
@using Resources;
@{
    ViewBag.Title = "Home Page";
    ViewBag.HideSidebar = true;
}

<div class="naslov_proj">
    <p class="nasov_proj_ft">@Local.Projects</p>
</div>

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-4">
            <div class="project-home">
                <h2 class="home-pro-title">@item.name</h2>
                <p class="home-pro-body">
                    @item.description
                </p>
                <div class="button-home"><p><a class="btn btn-default home-pro-btn" href="Project/Details/@item.id">@Local.Details &raquo;</a></p></div>
            </div>
        </div>
    }
</div>